{% extends "base.html" %}
{% block content %}
  <div class = "about">
    <h2>Introduction</h2>
    <p>We here at Pet Lives Matter believe that pet lives matter. It may seem
      like unneccesary repetition, but it is true. Your furry family matters, at
      least as much as actual people. Some would say even more so, but we are
      are not legally allowed to say that anymore. Pets are important, as they
      don't hurt people and in fact cannot speak. Sometimes it says more to say
      nothing than it does to say something. That's why we love pets, they have
      to listen to you. And they will eat whatever you give them, more so than
      any human child would.
   </p>
   <p>However, one common issue with pets is that they cannot use the internet
      or social media. So if they go missing and lose their way, it can be
      quite difficult for them to come home. You used to have to rely on the
      kindness of strangers, which is kind of strange. Not only that, but you
      would likely have to print out many flyers and posters, and go through
      the dilemma of putting them up around town. If only there was a virtual
      alternative. Well, thanks to out generous clients at the Auckland council,
      there is!
    </p>

  </div>
  <div class = "contact">
    <h2>Contact Us:</h2>
      <h4>Email: </h4><p>info@PetLivesMatter.co.nz</p>
      <h4>Phone: </h4><p>0800 555 PETS</p>
      <h4>Address: </h4><p>28 Kells Avenue, Whanganui, Manawatu-Wanganui</p>
  </div>

  <h2>Legal:</h2>
  <p>We do take your personal information but we promise not to share it to
    anyone who shouldn't have it.
 </p>


{% endblock %}
