{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Home | Pet Lives Matter</title>


    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">


<header>
  <div class="header">
    <div class="main-head-wrap inner-wrap clearfix">
      <div id="hero-image-div">
        <div id = "header-banner-image">
          <img src="{% static 'images/header.jpg' %}" alt="Pet Lives Matter">
          <div id="header-logo-image">
            <img src="{% static 'images/logo.png' %}" alt="Pets Lives Matter">
          </div>
        </div>
</div>
        <div id="header-text" class="">
          <h1 id="site-title">
            <a href="/" title="Pet Lives Matter" rel="home">Pets Lives Matter</a>
          </h1>
        </div>

    </div>
</header>
    </head>
    <body class="wide">

      <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
              <ul class="sidebar-nav">
                <br><br><br>
                <li><a href="">Home</a></li>
                <li><a href="">Missing Pets</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Donate</a></li>
              </ul>
              {% if user.is_authenticated %}
                <li>User: {{ user.get_username }}</li>
                <li><a href="">Tour List</a></li>
                <li><a href="">Logout</a></li
                <li><a href="">Change Password</a></li>
              {% else %}
                <li><a href="">Login</a></li>
                <ul>or</ul>
                <li><a href="">Register</a></li>
              {% endif %}
            </div>

        <div id="page" class="hfeed site">

            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <hr>
                        <div>

                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer id="colophon">
                <div class="inner-wrap">
                    NZ At a Glance is a fictitious brand created by Computer Power Plus, solely for the purpose of training. All products and people associated with NZ At a Glance are also fictitious. Any resemblance to real brands, products, or people is purely coincidental.
                </div>
            </footer>
        </div>
      </div>
    </body>
</html>
