{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | Pet Lives Matter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">


<header>
  <div class="header">
    <div class="main-head-wrap inner-wrap clearfix">
      <div id="hero-image-div">
        <div id="header-logo-image">
          <img src="{% static 'images/logo.png' %}" alt="Pets Lives Matter">
        </div>
        <div id = "header-banner-image">
          <img src="{% static 'images/header.jpg' %}" alt="Pet Lives Matter">
          <div id="header-text">
            <h1 id="site-title">
              Pets Lives Matter
            </h1>
          </div>
        </div>
      </div>
    </div>
</header>

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display:  inline-block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
    </head>

    <ul>

        <div class="dropdown-content">
          <a href="{% url 'home' %}">Home</a>
          <a href="">Missing Pets</a>
          <a href="{% url 'about' %}">About Us</a>
          <a href="{% url 'donate' %}">Donate</a>
          <a href="{% url 'my_pets' %}">My Pets</a>
          <a href="{% url 'user_detail' %}">My Account</a>
          <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
          <a href="{% url 'login'%}?next={{request.path}}">Login</a>
          <a href="{% url 'signup'%}?next={{request.path}}">Register</a>
        </div>
      </li>
    </ul>

    <body class="wide">

      <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
              <ul class="sidebar-nav">
                <br><br><br>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="">Missing Pets</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li><a href="{% url 'donate' %}">Donate</a></li>
              </ul>
              {% if user.is_authenticated %}
                <li>User: {{ user.get_username }}</li>
                <li><a href="{% url 'my_pets' %}">My Pets</a></li>
                <li><a href="{% url 'user_detail' %}">My Account</a></li>
                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
              {% else %}
                <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                <ul>or</ul>
                <li><a href="{% url 'signup'%}?next={{request.path}}">Register</a></li>
              {% endif %}
            </div>
        <div id="page" class="hfeed site">

            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <hr>
                        <div>
                          {% block content %}
                          {% endblock %}
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer id="colophon">
              <div class="footer-nav">
                <ul><a href="{% url 'about' %}">Privacy Policy</a></ul>
                <ul><a href="{% url 'about' %}">Terms and Conditions</a></ul>
                <ul><a href="{% url 'about' %}">Copyright</a></ul>
            </div>
                <div class="inner-wrap">
                    <ul class="contact-us-class"><a href="">Contact Us</a></ul>
                    <ul class="contact-us-class">Phone Number: 0800 555 PETS</ul>
                    <ul class="contact-us-class">Email Address: info@PetLivesMatter.co.nz</ul>
                </div>
            <div id="footer-logos">
              <p><a href=""><img src="{% static 'images/AucklandCouncil_logo.png' %}" alt="Auckland Council"></a>
              <a href=""><img src="{% static 'images/SPCA_logo.png' %}" alt="Pets Lives Matter"></a>
              <a href=""><img src="{% static 'images/LocalCommunity_logo.png' %}" alt="Pets Lives Matter"></a></p>
            </div>
            </footer>
        </div>
      </div>

    </body>
</html>
