{% extends "base.html" %}
{% block content %}
{% load static %}
  <div class = "about">
    <h2>Introduction</h2>
    <p>While this is a free service, we still have operating costs, so any money
      is appreciated! It goes a long way to keeping us going to help build
      communities around having the same kind of fluffy housemate. Not only can
      you donate to us, but you can also donate to the RSPCA to let them do the
      real hard work.
     </p>


  </div>
  <div class = "contact">
    <h2>Donate:</h2>
      <a href="https://www.spca.nz/donate/donate-now"><img src="{% static 'images/SPCA_logo.png' %}"  alt="SPCA"></a>
  </div>


{% endblock %}
