{% extends "base.html" %}
{% block content %}
  <div class = "intro">
    <h2>Introduction</h2>
  </div>
  <div class = "Testimony">
    <h3>Testimony</h3>
    <p>
      <i>I've always struggled keeping track of my cats. They
      said that 32 was too many. Now I can keep up with them all
     and keep track of them.</i>
     -Hannah Wyoming, 2020
    </p>
  </div>
  <div class = "Testimony">
    <h3>Testimony</h3>
    <p>
      <i>I found my dog</i>
     -Bob McGeal, 2020
    </p>
  </div>
  <div class = "Testimony">
    <h3>Testimony</h3>
    <p>
      <i>I used to always kidnap peoples pets and let them loose randomly
        across the neighbourhood. This had made my life very difficult.
        Thanks a bunch Pet Lives Matter...</i>
     -Upton O.Goode, 2020
    </p>
  </div>

{% endblock %}
