{% extends "base.html" %}
{% block content %}
  <div class = "intro">
    <h2>Introduction</h2>
    <p><b>Welcome to Pets Lives Matter!</b><br>
      Has your pet gone missing? Are you afraid of your beloved pet running away
      and not being able to find it?<br>
      Pets Lives Matter allows you and fellow pet enthusiasts in your neighbour
      hood register your pets so if they decide to go missing you can alert your
      local community, making it easier for someone to identify it. If someone
      finds a lost animal they can easily identify it through our missing pet
      registry.<br>
       </p>
     <p><b>How do you use Pets Lives Matter? </b><br>
  <b>Step 1: </b> Register yourself and go through the verification steps<br>
  <b>Step 2: </b> Register your pets with the applicable details<br>
  <b>Step 3: </b> If your pet has gone missing please go to its profile and
   label it as missing<br>
  <b>What happens now? </b><br>
  An alert will be sent out to other users in your community to look out for it.
   We are also linked to the SPCA so they will get a notice as well. If your pet
    is found by the SPCA an alert will be sent to you to contact them. <br>
  <b>I have found a lost pet? How do I identify it? </b><br>
  Please go to the missing pet page and fill in the filters,
  pets matching the description will be shown. <br>
  There will be a contact family button, please press this and enter your
   details. An alert will be sent to the family to contact you. <br>
  </p>
  </div>
  <div class = "Testimony">
    <h3>Testimony</h3>
    <p>
      <i>I've always struggled keeping track of my cats. They
      said that 32 was too many. Now I can keep up with them all
     and keep track of them.</i>
     -Hannah Wyoming, 2020
    </p>
  </div>
  <div class = "Testimony">
    <h3>Testimony</h3>
    <p>
      <i>I found my dog</i>
     -Bob McGeal, 2020
    </p>
  </div>
  <div class = "Testimony">
    <h3>Testimony</h3>
    <p>
      <i>I used to always kidnap peoples pets and let them loose randomly
        across the neighbourhood. This had made my life very difficult.
        Thanks a bunch Pet Lives Matter...</i>
     -Upton O.Goode, 2020
    </p>
  </div>

{% endblock %}
