{% extends "base.html" %}
{% block content %}

<!-- <div class = "missingpets">
  <form action="" method="get" class="missing_pets_form">
  <label for="category">Missing Pet Filters</label>
  <select id="category" class="form-control" name="category">
    <option selected>Choose...</option>
    {% for Pet in categories %}
    <option value="{{species}}"> {{species}} </option>
    <option value="{{sex}}"> {{sex}} </option>
    <option value="{{colour}}"> {{colour}} </option>
    <option value="{{eye_colour}}"> {{eye_colour}} </option>
    {% endfor %}
  </select>
    <input type="submit" value="search" class="">
  </form>


</div> -->

<!-- <form class="row">
    {{ form.search }}
    {{ form.filter_field }}
    <input type="submit" class="btn btn-default" value="Search">
</form>
--->

<h2>Missing Pets:</h2>

{% for pet in pet_list %}
  {% if pet.missing == True %}
    <div class="pet">
      <div>
        <img class="pet-detail-image" src="{{ pet.imagefile.url }}" />
        <h1>{{pet.pet_name|capfirst}} </h1>
        <br><br>
        <p><b>Species:</b> {{ pet.species}} </p>
        <p><b>Body Colour:</b> {{ pet.colour}} </p>
        <p><b>Age:</b> {{ pet.age}} </p>
        <p><b>Sex:</b> {{ pet.sex}} </p>
        <p><b>Eye Colour:</b> {{ pet.eye_colour}} </p>
        <p><b>Markings:</b> {{ pet.markings}} </p>
      <hr>

    </div>


  {% endif %}
{% endfor %}


{% endblock %}
