{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}

    <h2>My Pets:</h2>

    {% for pet in pet_list %}
      {% if pet.owner.get_username == user.get_username %}
        <div class="pet">
          <a href="{% url 'pet_detail' pet.id %}">
            <img class="pet-list-image" src="{{ pet.imagefile.url }}" />
            <h3>{{pet.pet_name | capfirst}}</h3>
          </a>
          <p>{{pet.colour}} {{pet.species}}</p>
          <hr>

        </div>


      {% endif %}
    {% endfor %}
    <h3><a href="{% url 'pet_register' %}">Register a pet</a></h3>
  {% else %}
    <p>Log in to see your pets!!!</p>
{% endif %}
{% endblock %}
