{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}

    <h2>Pet Regstration Form</h2>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p> style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit">Register Pet</button>
    </form>

  {% else %}
    <p>Log in to register your pets!!!</p>
  {% endif %}
{% endblock %}
