{% extends "base.html" %}
{% block content %}
  {% if user.is_authenticated and user.get_username == pet.owner.get_username %}
    <div>
      <img class="pet-detail-image" src="{{ pet.imagefile.url }}" />
      <h1>{{pet.pet_name|capfirst}} </h1>
      <br><br>
      <p><b>Species:</b> {{ pet.species}} </p>
      <p><b>Body Colour:</b> {{ pet.colour}} </p>
      <p><b>Age:</b> {{ pet.age}} </p>
      <p><b>Sex:</b> {{ pet.sex}} </p>
      <p><b>Eye Colour:</b> {{ pet.eye_colour}} </p>
      <p><b>Markings:</b> {{ pet.markings}} </p>
      <br>
    </div>
  {% else %}
    <p>Log in to see your pets!!!</p>
  {% endif %}
{% endblock %}
